._347-w {
    background-color: rgb(74,74,74);
}
._3FXB1 {
    color: white !important;
}
html[dir] .message-in .MVjBr {
    /* background-color: var(--incoming-background); */
    background-color: black !important;
}
html[dir] .message-out .MVjBr {
    background-color: var(--outgoing-background);
    background-color: black !important;
}
html[dir] ._3vXNW {
    padding: 10px 0 15px 0;
    background-color: rgb(74,74,74) !important;
}
html[dir] ._2HiNF {
    color: white !important;
}
html[dir] ._1GX8_ {
    background-color: rgb(74,74,74) !important;
}
html[dir=ltr] .message-out .tail-container {
    background-image: none !important;
}
html[dir=ltr] .message-in .tail-container {
    background-image: none !important;
}
html[dir] ._2EXPL {
    background-color: black;
}
html[dir] ._2EXPL._1f1zm {
    background-color: darkslategray;
}
html[dir] ._2EXPL:hover {
    background-color: darkslategray;
}
html[dir] ._2EXPL._1f1zm:hover {
    background-color: darkslategray;
}
html[dir] .Zq3Mc {
    background-color: darkgrey;
}
html[dir] ._2y17h {
    background-color: rgb(74,74,74);
}
._1upWv {
    color: bisque;
}
._1DZAH {
    color: bisque;
}
._209Po {
    color: grey;
}
._1fkCN {
    color: bisque;
}
._1VfKB {
    color: grey;
}
._3FwEk {
    color: white;
}
html[dir] ._35DHA {
    background-color: lightgray;
}
html[dir] ._347-w::after {
    background-color: darkslategray;
}
html[dir] .message-in ._1iJeo {
    background-color: darkslategrey;
}
html[dir] .message-out ._1iJeo {
    background-color: darkslategrey;
}
html[dir] ._1VeYA {
    background-color: darkslategray;
}
html[dir] .rstyJ {
    background-color: black;
}
html[dir] ._3pkkz {
    background-color: black;
}
html[dir] ._3SX5f {
    background-color: black;
}
html[dir] ._35DHA {
    background-color: black;
}
html[dir] .rRAIq {
    background-color: black;
}
.U0cj3 {
    color: white;
}
._21zbN {
    color: white;
}
html[dir] .gQzdc:before {
    background-color: rgba(var(--inverse-rgb), 0.14);
    border-bottom: 1px solid var(--border-stronger);
}
html[dir=ltr] .gQzdc:before {
    left: 0;
}
html[dir=ltr] .gQzdc:before {
    left: 0;
}
._3Bxar {
    color: white;
}
.CxUIE ._3Bxar {
    color: white;
}
._14MyY {
    color: white;
}
.ZR5SB {
    color: white;
}
._15G96 {
    color: white;
}

html[dir] ._1Plpp {
    background-color: transparent;
}
html[dir] ._2MSJr {
    background-color: black;
}
html[dir] ._2MSJr {
    background-color: dimgrey;
}
._3M2St {
    color: black;
}
._1pCYj, ._2cLHw {
    color: white;
}